#root {
    max-width: 1280px;
    /*height: 100vh;*/
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 32px;
}

.logo {
    height: 28em;
    padding: 2em;
    border-radius: 10%;
}


.card {
    width: 450px;
    border: 1px solid #000;
    border-radius: 25px;
    will-change: filter;
    transition: filter 300ms;
}

.card:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    transition: transform 0.3s ease;
    transform: scale(1.02);
}

.button {
    margin-bottom: 1em;
    padding-top: 0;
}


@media only screen and (max-width: 600px) {
    .title {
        font-size: 32px;
    }
    .card{
        border: none;
    }

}
